* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    font-family:'Raleway', sans-serif;;
    background-color: black;
    background-image: linear-gradient(-263deg, #2E1421 0%, #25191F 100%);
}

.container {
    background: rgb(173,217,216);
    background: linear-gradient(34deg, rgba(173,217,216,1) 9%, rgba(55,202,236,1) 23%, rgba(18,84,136,1) 63%);
    width: 50vw;
    height: 50vh;
    border-radius: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

form span {
    font-size: 35px;
    margin-bottom: 25px;
    color: #f1f1f1;
}

.inputtext {
    width: 50%;
    margin-top: 15px;
    border: none;
    border-bottom: 2px solid grey;
    text-align: center;
    height: 35px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    border: none;
}

.inputsubmit {
    background: linear-gradient(34deg, rgba(173,217,216,1) 9%, rgba(55,202,236,1) 23%, rgba(18,84,136,1) 63%);
    border: none;

    width: 250px;
    border-radius: 25px;
    height: 50px;
    font-family:'Raleway', sans-serif;
    font-size: 15px;
    color: ;
}

.inputsubmit:hover {
    cursor: pointer;
    border: 2px solid black;
}

.inscription {
    font-size: 20px;
}
