* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}

body {
    background-image: url(./img/pizza.jpg);
    background-repeat: repeat;
    backdrop-filter: brightness(60%);


}

header {
    width: 100vw;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 120px;
    height: 120px;
}

.fa-cart-shopping {
    font-size: 40px;
}

nav {
    display: flex;
    font-family: 'Amatic SC', cursive;
    justify-content: space-evenly;
    align-items: center;
    font-size: 45px;
    height: 8vh;
    backdrop-filter: brightness(60%);
    color: #f1f1f1;
}


.fa-cart-shopping {
    position: relative;
    width: 50px;
    height: 50px;
}

.fa-cart-shopping:hover ~ .shop-container {
    opacity: 1;
    
}

.shop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 250px;
    height: 200px;
    bottom: -135px;
    background: rgb(1,2,1);
    background: linear-gradient(279deg, rgba(1,2,1,1) 0%, rgba(10,15,19,1) 25%, rgba(18,26,33,1) 65%);
    border-radius: 15px;
    z-index: -10;
    right: 20px;
    opacity: 0;
    border: 1px solid white;
}

.shop-container:hover {
    opacity: 1;
}

.article1{
    border: 1px solid black;
}

.shop-article {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 25px;
}

.shop-article div {
    font-size: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;   
    border: 1px solid grey;
}

.qte {
    
    
    width: 25px;
}

header a {
    text-decoration: underline;
    color: #f1f1f1;
}


/*////////////////////////////////////////////////////////////////HEADER///////////////////////////////////////////////////////////*/

.container {
    position: relative;
    z-index: -11;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background-image: url(./img/ardoisevierge.jpg);
    background-repeat: no-repeat;
    height: 600px;
    width: 420px;
    border-radius: 25px;
}

.card button {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-top: 25px;
    background: rgb(1,2,1);
    background: linear-gradient(279deg, rgba(1,2,1,1) 0%, rgba(10,15,19,1) 25%, rgba(18,26,33,1) 65%);
    color: #f1f1f1;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 4px black;
}

.card button:active {
    box-shadow: 0 2px black;
    transform: translateY(4px);
}

.ingredients {
    margin-top: 25px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #f1f1f1;
    font-family: 'Amatic SC', cursive;
}

.card h1 {
    margin-top: 48px;
    font-size: 65px;
    color: #f1f1f1;
    font-family: 'Amatic SC', cursive;
}

.norvégienne {
    margin-top: 58px !important;
    font-size: 48px !important;
}

.montagnarde {
    margin-top: 58px !important;
    font-size: 48px !important; 
}

.prix {
    margin-top: 35px;
    font-size: 50px;
    color: #f1f1f1;
    font-family: 'Amatic SC', cursive;
}

.container {
    width: 100vw;
    height: 79.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 90%;
    height: fit-content;
}


.swiper-slide img {
    width: 500px;
    height: 500px;
}

.swiper-button-next {
    color: #f1f1f1;
}

.swiper-button-prev {
    color: #f1f1f1;
}