* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    font-family:'Raleway', sans-serif;;
    background-color: black;
    background-image: linear-gradient(-263deg, #2E1421 0%, #25191F 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(173,217,216);
    background: linear-gradient(34deg, rgba(173,217,216,1) 9%, rgba(55,202,236,1) 23%, rgba(18,84,136,1) 63%);
    width: 50vw;
    height: 50vh;
    border-radius: 15px;
}